django
djangorestframework
django-environ
django-filter
django-autoslug
django-countries
pillow
django-phonenumber-field
phonenumbers
psycopg2-binary
flake8
black
isort
djoser
djangorestframework-simplejwt
PyJWT
pytest-django
pytest-factoryboy
Faker
pytest-cov
redis
celery==4.4.7
flower==0.9.7
django-celery-email
argh
pyYAML
watchdog